@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Orbitron";
    src: url('./assets/Orbitron-Regular.ttf');
    font-family: "NewsTerminal";
    src: url('./assets/fonts/static/Righteous-Regular.ttf');
}

:root {
    /* background-color: #071213; also great shade */
    background-color: #050d0e;
    font-family: "NewsTerminal";
}

/*
https://codepen.io/sosuke/pen/Pjoqqp
*/

.topMarg {
    margin-top: 3rem;
}

.topMargX {
    margin-top: 7rem;
}

.botMarg {
    margin-bottom: 3rem;
}

.crystal {
    color: #93e7e2;
}

.cybermagenta {
    color: #830553;
}

.deepgold {
    color: #d3ac00;
}

.bRed {
    color: #d30062;
}

.minimalGray {
    color: #5a5a5a;
}

.lgry {
    color: lightgray;
}

.tinypad {
    margin: 10rem;
    /* padding: 10rem; */
}

.headline {
    position: relative;
}

.networkstatic {
    position: absolute;
    margin-top: 6.1rem;
}

.transmissionPadding {
    margin-top: 18rem;
}

.pageEnd {
    margin: 10rem;
}

/*
    IMAGES BELOW
    IMAGES BELOW
    IMAGES BELOW
    IMAGES BELOW
    IMAGES BELOW
*/

.coffeeimg {
    height: 4rem;
    width: 4rem;
    content: url('./assets/coffee.svg');

    /* previous hacker green
    filter: invert(52%) sepia(91%) saturate(349%) hue-rotate(90deg) brightness(97%) contrast(106%);
    */
    filter: invert(93%) sepia(2%) saturate(5592%) hue-rotate(116deg) brightness(91%) contrast(99%);
}

/* don't question him (probably not the real thurston) */
.thurstonimg {
    position: relative;
    height: 14rem;
    width: 14rem;
    content: url('./assets/thurston.png');
}

.familyimg {
    height: 22rem;
    width: 22rem;
    content: url('./assets/familycoffee.svg');
    filter: invert(93%) sepia(2%) saturate(5592%) hue-rotate(116deg) brightness(91%) contrast(99%);
}

.marthaimg {
    height: 22rem;
    width: 22rem;
    content: url('./assets/martha.svg');
    filter: invert(93%) sepia(2%) saturate(5592%) hue-rotate(116deg) brightness(91%) contrast(99%);
}